<mat-toolbar color="primary">
  <mat-toolbar-row>
      
    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['/employees']">Employees</button>
    
    <span class="example-spacer"></span>
      
    <mat-icon>brightness_high</mat-icon>
    <mat-slide-toggle 
      class="slider-spacer"
      [checked]="isDarkTheme | async"
      (change)="toggleDarkTheme($event.checked)"
    >
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
